OnlineShopping/Service References/LoadCartService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60975/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60975/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60975/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_loadCart_InputMessage">
    <wsdl:part name="parameters" element="tns:loadCart" />
  </wsdl:message>
  <wsdl:message name="IService1_loadCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:loadCartResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_organizedItems_InputMessage">
    <wsdl:part name="parameters" element="tns:organizedItems" />
  </wsdl:message>
  <wsdl:message name="IService1_organizedItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:organizedItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_organizedItemsBySize_InputMessage">
    <wsdl:part name="parameters" element="tns:organizedItemsBySize" />
  </wsdl:message>
  <wsdl:message name="IService1_organizedItemsBySize_OutputMessage">
    <wsdl:part name="parameters" element="tns:organizedItemsBySizeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_organizedItemsByColor_InputMessage">
    <wsdl:part name="parameters" element="tns:organizedItemsByColor" />
  </wsdl:message>
  <wsdl:message name="IService1_organizedItemsByColor_OutputMessage">
    <wsdl:part name="parameters" element="tns:organizedItemsByColorResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="loadCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/loadCart" message="tns:IService1_loadCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/loadCartResponse" message="tns:IService1_loadCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="organizedItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/organizedItems" message="tns:IService1_organizedItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/organizedItemsResponse" message="tns:IService1_organizedItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="organizedItemsBySize">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/organizedItemsBySize" message="tns:IService1_organizedItemsBySize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/organizedItemsBySizeResponse" message="tns:IService1_organizedItemsBySize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="organizedItemsByColor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/organizedItemsByColor" message="tns:IService1_organizedItemsByColor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/organizedItemsByColorResponse" message="tns:IService1_organizedItemsByColor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="loadCart">
      <soap:operation soapAction="http://tempuri.org/IService1/loadCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="organizedItems">
      <soap:operation soapAction="http://tempuri.org/IService1/organizedItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="organizedItemsBySize">
      <soap:operation soapAction="http://tempuri.org/IService1/organizedItemsBySize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="organizedItemsByColor">
      <soap:operation soapAction="http://tempuri.org/IService1/organizedItemsByColor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:60975/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>